/* static/main.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

form {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.button-container {
    display: flex;
    align-items: center;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

#popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#popup-content {
    text-align: center;
    color: #2980b9;
}

#loading {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: 10px;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table {
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #3498db;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
}

td a {
    color: #3498db;
}
